/*
    Variables CSS / Custom properties
    super-azul: #72c0c0
*/

/* El punto más alto del documento */
:root {
    /* Declara las variables
        Darles un nombre y su contenido

        Las declaramos en la raíz / root para que existan en todo el documento
    */
    --azul: #02c2c2;
    --naranja: #FE6F0F;
    --amarillo: #f8c009;
    --negro: #000;
    --blanco: #FFF;
    --espacio:15px;
    --grey: #7F8287;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Utilizamos la variable con var() */
    background-color: var(--negro);
    background-image: url(images/pattern.jpg);
    /*
    repeat (default) | no-repeat | repeat-x | repeat-y
    background-repeat: repeat;

    Imagen grande que cubre todo el fondo
    background-size: cover;
    */
    font-family: Arial, Helvetica, sans-serif;
}

/*
h1 {
    background-color: var(--blanco);
    color: var(--azul);
}
*/

/*
    Si separamos varios selectores con , les aplicamos las mismas propiedades a esos selectores
*/
.cabecera, .contenedor {
    max-width: 1000px;
    margin: auto;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5px 0;
    color: var(--naranja);
}

.contenedor {
    background-color: var(--blanco);
    /* Agregamos border-radius también al contenedor para que no se vea la esquina blanca */
    border-radius: 10px 10px 0 0;
}

/*
    -------------- Navegación --------------
*/

.nav {
    background-color: var(--naranja);
    padding: 10px;
    padding-left: 45px;
    display: flex;
    border-radius: 10px 10px 0 0;
    margin-bottom: 20px;
}

.nav-lista,
.nav-form {
    flex-grow: 1;
}

.nav-lista {
    list-style: none;
    display: flex;
}
/* .input::placeholder */
.nav-lista_item-link {
    display: block;
    padding: 4px 8px;
    border-right: 1px solid var(--amarillo);
    text-decoration: none;
    font-weight: bold;
    color: var(--blanco);
}
.nav-lista_item-link:hover {
    text-decoration: underline;
}

.nav-form {
    display: flex;
    justify-content: flex-end;
}
/* ----------slider de images--------- */
.slider{
    text-align: center;
    margin-bottom: 40px;
}
/* -------------principal-------------------- */
.principal{
    background-color: var(--blanco);
    display: grid;
    grid-template-columns: 200px 1fr;
    padding-left: 10px;
    margin-bottom: 50px;
    gap: 5px;
}
.principal-categorias{
background-color: var(--blanco);
display: flex;
flex-direction: column;
/* margin-left: var(--espacio); */
}
.principal-categorias_titulo{
    margin-left: 25px;
    font-size: 16px;
}
.categorias-lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    font-size: 13px;
    padding-right: 30px;
}
.categorias-lista_item-link{
    display: block;
    padding: 8px 0px;
    border-bottom: 1px dashed var(--grey);
    text-decoration: none;
    font-weight: bold;
    color: var(--grey);
}

.principal-productos{
background-color:var(--blanco);
display: grid;
grid-template-columns: repeat(2, 1fr);
row-gap:20px;
max-width: 90%;
}
.producto{
    background-color:var(--blanco);
    display: grid;
    grid-template: auto;
    /* gap:var(--espacio); */
    align-items: start;
}
.prodcuto1-titulo{
    font-size: 17px;
    grid-column: 1;
    grid-row: 1;
    /* text-align: left; */

}
.imagen-producto{
    /* display: inline-block; */
    grid-column: 1;
    grid-row: 2;
}
.descripcion-articulo{
    font-size: 13px;
    grid-column: 2;
    grid-row: 2;
    /* align-self en hijo o align-items en contenedor */
    align-self: center; /* en eje de bloque auto-normal-start-end-center-stretch-baseline-first baseline-last baseline */
    /* justify-content o justify-self sobre eje inline; */
    
    justify-self: start;
    padding: 30px;
    margin-top: -50px;
    /* text-align: left; */
}
